body {
  overflow: hidden;
  background-color: white;
}

div {
  height: 720px;
  width: 1280px;
  text-align: center;
  display:  table-cell;
  vertical-align: middle;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 40px;
}
